mlflow==2.17.0
cffi==1.17.1
cloudpickle==3.1.0
lightgbm===4.5.0
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
psutil==6.0.0
pyarrow==14.0.1
scikit-learn==1.5.2
scipy==1.14.1
databricks-feature-engineering==0.6
databricks-feature-lookup==1.2.0
databricks-sdk==0.32.0
